    <!--<div class="flex_box">-->
        <div class="content_A">
            
            <div class="conA">
            <h2>みんなのポートフォリオを見てみよう</h2>
            <h3>初めてポートフォリオを作る人の参考サイト</h3>
        <%= form_with url:'/users',method: 'get' ,local: true do |f| %>
            <%= f.text_field :content %>
                <%= button_tag :type => 'submit',class: "btn btn-default btn-s-md" do %>
                <i class="fas fa-search"></i>検索
            <% end %>
        <% end %>
<% if logged_in? %>
        <div class="col-sm-6 btn">
    <%= link_to 'マイページ', users_show_path(current_user), class: 'btn btn-primary col-sm-12' %>

        </div>

<% else %>
        <div class="col-sm-6 btn">
            <p>自作のポートフォリオをみてもらおう</p>
    <%= link_to '会員登録', signup_path, class: 'btn btn-primary col-sm-12' %>
    <%= link_to 'ログイン', login_path, class: 'btn btn-success col-sm-12' %> 
        </div>

<% end %>
            </div>
        </div>
        

    <div class="container items">
        
    
        <ul>
    <% @items.each do |item| %> 
    
            <li>
                <div class="item_boxes flex_box">
                    <div class="image_content">
                        <img src="/img/<%= item.img_name %>">
                    </div>
                    <div class="text_contents">
                       
                        <table class="text_content">
                            <tr>
                                <th><%= item.title %></th>
                            </tr>
                            <tr>

                                <td><%= item.content %></td>
                            </tr>
                            <tr>

                                <td>製作者:<%= item.user.name %></td>
                                <td><%= item.url %></td>
                            </tr>
                            <tr>
                                <td><%= link_to '詳細へ', item %></td>
                                <td>                      
                                    <% if logged_in? %>
                                    <%= render 'likes/likes', item: item %>
                                     <% end %>
                                 </td>
                            </tr>
                            
                        </table>
                      
                        

                        <!--<div>-->
                        <!--    <p>タイトル：<%= item.title %></p>-->
                        <!--    <p>詳細    ：<%= item.content %></p>-->
                        <!--</div>-->
                        <!--<div class="hoge">-->
                        <!--    <p>produced by <%= item.user.name %></p>-->
                        <!--    <%= link_to '詳細ページへ', items_show_path(item.id) %> -->
                        <!--</div>-->

                    </div>
                </div>
            </li>
    <% end %>

        </ul>
    </div>