  <div class="row mt-5">
    <div class="col-sm-8">
  <% if item_nil %>


    <%= link_to 'ポートフォリオを投稿する', new_item_path(@user.id), class: 'btn btn-success' %>
    <p>ポートフォリオがありません</p>
  
  
  <% else %>
  <div class="items col-sm-12">
   <ul class="col-sm-12">
    <% @items.each do |item| %> 
    
            <li>
                <div class="item_boxes flex_box col-sm-12">
                    <div class="image_content">
                        <img src="/img/<%= item.img_name %>">
                    </div>
                    <div class="text_contents">
                        <table>
                            <tr>
                                <th>タイトル</th>
                                <th><%= item.title %></th>
                            </tr>
                            <tr>
                                <td>紹介</td>
                                <td><%= item.content %></td>
                            </tr>
                            <tr>
                                <td>produced by</td>
                                <td><%= item.user.name %></td>
                            </tr>
                            <tr>
                              <td><%= link_to '詳細へ', item, class: 'btn btn-primary' %></td>
                              <td><%= link_to '編集する', edit_item_path(item), class: 'btn btn-primary'%></td>
                            </tr>
                        </table>
                       
                       
                    </div>
                </div>
            </li>
    <% end %>

        </ul>
  </div>
  <% end %>

    </div>
  
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          プロフィール
        </div>
        <div class="card-body">
          <table class="table">
          <tr>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td><%= @user.content %></td>
          </tr>

        </table>

<%= link_to 'ポートフォリオを投稿する', new_item_path(@user.id), class: 'btn btn-primary' %>
<%= link_to 'プロフィールを編集する', edit_user_path(@user.id), class: 'btn btn-success' %> 
        </div>
      </div>
      


      
    </div>
  </div>
  
