
<div class="row mt-5">
    <div class="offset-sm-3 col-sm-6 text-center">
    <table class='table table-striped'>
        <tr>
            <th>タイトル:</th>
            <th><%= @item.title %></th>
        </tr>
        <tr>
            <td>紹介:</td>
            <td><%= @item.content%></td>
        </tr>
        <tr>
            <td>URL:</td>
            <td><%= @item.url %></td>
        </tr>
        <tr>
            <% if current_user.liking?(@item) %>
            <td><%= link_to '編集する', edit_item_path(@item), class: 'btn btn-primary'%></td>
            <% end %>
            <td><%= render 'likes/likes', item: @item%></td>
        </tr>
        
    </table>
 
    

    </div>
</div>




